APP_ENV=production
TB_APP_NAME="Tamás Bau Kft."
TB_APP_URL=http://localhost:8000

TB_DB_HOST=127.0.0.1
TB_DB_PORT=3306
TB_DB_NAME=tamasbau
TB_DB_USER=root
TB_DB_PASS=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_AUTH=true
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Tamás Bau Kft."
MAIL_TIMEOUT=20
MAIL_EHLO_DOMAIN=localhost
TB_DEV_MAIL_LOG=logs/mail-dev.log
